<div class="container">
<div class="row">
    <div style="margin-top: 120px; margin-bottom: 30px;" class="col-xs-12">
        <img class="img-responsive" src="img/ac_logo.png" style="margin-left: auto; margin-right: auto;"/>
    </div>
</div>

<div class="page-header">
  <h3 class="text-center">LABWISE THE HEALTH CLOUD</h3>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="row">
        <div class="col-xs-12">
          <a href="#/register" class="btn btn-primary btn-lg btn-block" type="submit" role="button">REGISTER</a>
          <p class="text-center"><a btn-link data-ng-click="whyRegister()"> Why ? </a></p>
          <div data-ng-show="showWhyRegister">
            <p class="text-center"> User -> Quick Service | Hi-Bits Wallet | Save Records </p>
            <p class="text-center"> Provider -> Go Online | Free | Manage Clients </p>
            <p class="text-center"><a btn-link data-ng-click="gotitRegister()"> got it </a></p>
          </div>
        </div>
      </div>
    <br></br>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="row">
        <div class="col-xs-12">
            <a href="#/login" class="btn btn-primary btn-lg btn-block" type="submit" role="button">LOGIN</a>
            <p class="text-center"><a btn-link data-ng-click="whyLogin()"> Why ? </a></p>
            <div data-ng-show="showWhyLogin">
              <p class="text-center"> See Records | Secure | Quick Service </p>
              <p class="text-center"><a btn-link data-ng-click="gotitLogin()"> got it </a></p>
            </div>
        </div>
      </div>
    <br><br>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="row">
        <div class="col-xs-12">
          <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="openSite()">DIRECT WEB</button>
          <p class="text-center"><a btn-link data-ng-click="whyWeb()"> Why ? </a></p>
          <div data-ng-show="showWhyWeb">
            <p class="text-center"> You can directly go to the www.labwise.in and explore the numerous service options </p>
            <p class="text-center"><a btn-link data-ng-click="gotitWeb()"> got it </a></p>
          </div>
        </div>
      </div>
    <br><br>
  </div>
</div>

</div>
